@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>CARTEFACT</h1>
</div>

<div class="row">
    <div class="col-md-8">
        For use this website, please register or log you.
    </div>
</div>