<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Access Denied</title>
</head>
<body>
    <hgroup>
        <h1>Access Denied</h1>
        <h2>Veuillez vous connecter pour accèder à cette page.</h2>
    </hgroup>
</body>
</html>
